src/main/resources/encounters/encounter-matrix.dtd

<?xml encoding="UTF-8"?>

        <!ELEMENT encounter-matrix (encounters)+>

        <!ELEMENT encounters (site|land)+>

        <!ELEMENT site (encounter)+>
        <!ATTLIST site
                  name  CDATA "">

        <!ELEMENT land (encounter)+>
        <!ATTLIST land
                  name  CDATA "">

        <!ELEMENT encounter (#PCDATA)>
        <!ATTLIST encounter
                warning  CDATA "">


